@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffdfd;
    --foreground: #d4d0d0;
    --text-color: #202020;
  }
}

body {
  background: var(--background);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

